::selection {
  background: #acc;
}

.hidden-selectable-input {
  position: fixed;
  left: 50%;
  top: 50%;
  height: 0;
  width: 0;
}

.game-wrapper {
  width: 100%;
  height: 100%;
}

.center {
  text-align: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 22px;
}

.clue-table td, th {
  border: 1px solid #999;
  border-collapse: collapse;
}

.clue-table th {
  text-align: center;
}

.grid td {
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  border-collapse: collapse;
  position: relative;
}

.grid span {
  position: absolute;
  top: 0px;
  left: 2px;
  font-size: 8px;
}

.grid input, .grid td {
  cursor: pointer;
}

.cell {
  background: #fff;
  caret-color: transparent;
  border: 0;
  float: left;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 100%;
  height: 100%;
  width: 100%;
}

.cell:focus {
  outline: none;
}

.blacked-out {
  background: black;
  color: black;
}

.active-entry {
  background: #ccc;
}

.active-cell {
  background: #acc;
}

.error-cell {
  color: #c00;
}

.error-button {
  height: 50px;
  width: 150px;
  cursor: pointer;
  color: #eee;
  background-color: #af1f1f;
  border-radius: 10px;
}

.error-button:hover {
  background-color: #8f1919;
  color: #fff;
}

.error-button:active {
  background-color: #721414;
}

.clue-list-nav {
  height: 540px;
  width: 270px;
  overflow:hidden;
  overflow-y:scroll;
  font-size: 16px;
}

.clue-list {
  list-style-type: none;
  padding: 0px;
  margin-left: 2.85em;
  text-indent: -2.85em;
  cursor: pointer;
}

.clue {
  padding-top: 3px;
  padding-bottom: 3px;
}

.clue span {
  padding-left: 10px;
  padding-right: 10px;
}

.clue-text {
  font-size: 16px;
}

.clue:not(.active-entry):hover {
  background-color: #eee;
}

.modalContainer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  animation: pop-in 0.4s;
}

.modalContainer .modal {
  z-index: 2;
  width: 400px;
  height: 160px;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
}

.modal button {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 15px;
}

@keyframes pop-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .grid td {
    width: 24px;
    height: 24px;
  }

  .grid span {
    font-size: 6px;
  }

  .clue-text {
    font-size: 12px;
  }

  .cell {
    font-size: 16px;
  }

  .clue-list-nav {
    height: 360px;
    width: 180px;
    font-size: 12px;
  }

  .clue-table {
    display: none;
  }

  .modalContainer .modal {
    width: 320px;
    height: 120px;
  }
}